.day {
    height: 650px;
    width: 1370px;
    background: url(../img/img1.png);
    background-size: auto;
}
.city {
    height: 650px;
    width: 1370px;
    background: url(../img/city.png);
    background-size: cover;
    bottom: 0;
    left: 0;
}

.sun {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0px;
    right: 70px;
    animation: mysun 20s linear infinite alternate-reverse;
}

@keyframes mysun {
  0%   {top: 0px;}
  25%  {top: 70px;}
  75%  {top: 140px}
  100% {top: 210px;}
} 

.taxi {
    width: 140px;
    height: 70px;
    position: relative;
    bottom: 85px;
    left: 0;
    animation: mytaxi 10s linear infinite;
}
@keyframes mytaxi {
  from {left: 0px;}
  to {left: 1370px;}
}