.day {
    height: 660px;
    width: 1370px;
    background: url(../img/img1.png);
    background-size: cover;
}
.city {
    height: 660px;
    width: 1370px;
    background: url(../img/city.png);
    background-size: cover;
    bottom: 0;
    left: 0;
}

.sun {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: 70px;
    animation: mysun 20s linear infinite alternate-reverse;
}

@keyframes mysun {
  0%   {top: 0px;}
  25%  {top: 50px;}
  75%  {top: 100px}
  100% {top: 150px;}
} 

.taxi {
    width: 150px;
    height:80px;
    position: absolute;
    bottom: 10px;
    left: 0;
    animation: mytaxi 10s linear infinite;
}

@keyframes mytaxi {
  from {left: 0px;}
  to {left: 1270px;}
}

.ferrari {
    width: 180px;
    height: 80px;
    position: absolute;
    bottom: 70px;
    left: 20px;
    animation: mycar 12s linear infinite reverse;
}
@keyframes mycar {
  from {left: 20px;}
  to {left: 1370px;}
} 

.kido{
    width: 100px;
    height: 70px;
    position: absolute;
    bottom: 65px;
    left: 10px;
    animation: mykido 10s linear infinite reverse;
}

@keyframes mykido {
    from {left: 0px;}
    to {left: 1370px;}   
}
.plane {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 20px;
    animation: myplane 15s linear infinite;
}
@keyframes myplane {
    from {left: 0px;}
    to {left: 1370px;}   
}
.birds {
    width: 150px;
    height: 70px;
    position: absolute;
    top: 250px;
    left: 0px;
    animation: birds 30s linear infinite alternate;
}
@keyframes birds {
    from {left: 0px;}
    to {left: 1370px;}
}
.cloud {
    width: 250px;
    height: 200px;
    position: absolute;
    top: 0px;
    right: 300px;
    animation: clouds 50s linear infinite alternate-reverse;
}

@keyframes clouds {
    from {left: 200px;}
    to {left: 1000px;}
 
}
